body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #fff;
  text-align: center;
}

.App-title {
  font-size: 1.5rem;
  color: #111;
}

.balance {
  padding: 1rem 2rem;
  border: 2px solid #7db93f;
  margin-bottom: 2rem;
}
